@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome this is admin</h1>
    <li>
        <a asp-area = "" asp-controller = "Home" asp-action = "Index">click and go to the blog</a>

    </li>
</div>
