@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome this is blog xd </h1>
    <div>
        <a asp-area = "Admin" asp-controller = "Home" asp-action = "Index"> Click and go to admin </a>

    </div>
    
</div>
